@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
html {
	height: 100%;
}

body {
	background-image: url("../photos/kamihikouki.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;
	f/*ilter: 				alpha(opacity=50);
    -moz-opacity:			0.5;
    opacity:		*/		0.5;
	height: 100%;
}

h1 {
	margin-bottom: 40px;
	/*text-align: center;*/
	line-height: 1.0;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 40px;
	color:#333;
	letter-spacing: 0.05em;
}

h2 p {
	font-family: 'Sawarabi Gothic';
	color: #333;
}

.wapper {
	height: 100%;
}

#contact {
	/*font-family: 'Sawarabi Gothic';*/
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 600px;  /*中央配置するボックスの横幅*/
	min-height: 400px;  /*中央配置するボックス縦幅*/
}

.pt01 {
	margin: -200px 0 0 -300px;  /*縦横の半分をネガティブマージンでずらす*/
	position: absolute;  /*body要素に対して絶対配置*/
	top: 50%;  /*上端を中央に*/
	left: 50%;  /*左端を中央に*/
	width: 600px;  /*横幅*/
	height: 400px;  /*縦幅*/
	color: #333;
}