body {
	font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.9;
	text-align: left;
	-webkit-text-size-adjust: 100%;
}

.wapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	/*border: 1px solid #FF0000;*/
}

.content1 {
	display: flex;
}

.content2 {
	display: flex;
}

.about_product2 {
	text-align: right;
}