@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body {
	font-size: 14px;
	color: #333;
	line-height:1.9;
	text-align: left;
	-webkit-text-size-adjust: 100%;
}

h1 {
	/*margin: 0 0 70px 0;*/
	/*font-size: 46px;*/
	font-family: 'Noto Sans Japanese';
	font-weight: 100;
	text-align: left;
	color: #333;
}

h2 {
	font-family: 'Noto Sans Japanese';
	font-weight: 100;
	text-align: left;
	color: #333;
}

h3 {
	font-family: 'Noto Sans Japanese';
	font-weight: 100;
	text-align: left;
	color: #333;
}

.wapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	/*border: 1px solid #FF0000;*/
}

.contents {
	background-color: rgba(255,255,255,0.8);
	/*border: 1px solid red;*/
}

.content1 {
	font-family: 'Sawarabi Gothic';
	/*display: flex;*/
}

.content2 {
	font-family: 'Sawarabi Gothic';
	display: flex;
}

.about_product2 {
	text-align: left;
	margin-left: 30px;
}

