@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');


body {
	position: relative;
	font-family: 'Amatic SC', cursive;
	background-image: url("photos/background.jpg");
	height:100vh;
	width: 100vw;
}

h1 {
	margin:0;
}

.logo {
	text-align: center;
	padding: 0px 0px 0px 0px;
	font-size: 30px;
	letter-spacing: 3px;
	color: #808080;
	margin-top: 20px;
	margin-bottom: 40px;
}

.logo p {
	font-size: 15px;
	font-family: 'Sawarabi Gothic';
	color: #808080;
}

.wapper {
	position: absolute;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 520px;
	width: 80vw;
}

.portfolio{
	display: flex;
	justify-content: space-around;
}

.box {
	position: relative;
	/*border: medium solid #888888;*/
	width: 400px;
	height: 200px;
}

.content_img {
	position: absolute;
	/*border: medium solid #ff00ff;*/
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	/*animation-name: rollIn;*/
}

.content_border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	text-decoration: none;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	border-radius: 200px;
	background: #e0e0ff;
	color: #fff;
}

.content_img a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}

/*アニメーション*/
/*
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rollIn {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -45deg);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.rollIn {
	animation-name: rollIn;
}*/